@charset "UTF-8";
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Light.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Light.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Bold.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-It.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-It.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-It.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/Lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/MyriadPro/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldIt.ttf") format("truetype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.leafs {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  display: block;
  width: 100%;
  max-width: 1108px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container--no-gutters {
  padding-right: 0;
  padding-left: 0;
}

.fp-index {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  display: inline-block;
  border-bottom: 2px solid #212021;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
  pointer-events: none;
}

.screen {
  position: relative;
  overflow: hidden;
}

.screen__separator {
  width: 2px;
  height: 36px;
  margin-right: auto;
  margin-left: auto;
  background-color: #cb98a8;
}

.borders {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.logo {
  display: block;
}

.link {
  display: inline-block;
  position: relative;
  color: #212021;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 1.5px;
  /**
   * Делаем таким образом нижнюю границу для эффекта 
   * плавного выдвижения
   */
}

.link:hover::before {
  width: 0;
}

.link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #212021;
  -webkit-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.link::after {
  content: "--------";
  margin-right: 0.8rem;
  margin-left: 0.2rem;
  letter-spacing: -2px;
}

.title {
  position: relative;
  z-index: 1;
  margin-top: 6.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  color: #f8f8f8;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

.socials__item {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.socials__item + .socials__item::before {
  content: "\2014";
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.socials__link {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.socials__link:hover {
  color: #cb98a8;
}

.leafs {
  overflow-x: hidden;
}

.leafs__inner {
  height: 100%;
  position: relative;
}

.leafs__item {
  position: absolute;
  z-index: 1;
}

.img {
  width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}

.header__navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 0.9rem;
  margin-bottom: 0;
  margin-left: 2.2rem;
}

.header__navbar::before {
  content: "";
  display: block;
  width: 92%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -25%, 0);
          transform: translate3d(-50%, -25%, 0);
  border-bottom: 4px solid #fff;
}

.header__navbar > li {
  position: relative;
  padding-right: 2.625rem;
  padding-left: 2.625rem;
  color: #4e4d4e;
  font-size: 1.125rem;
  z-index: 1;
}

.header__navbar > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.header__navbar > li > a:hover {
  color: #cb98a8;
}

.header__phone {
  display: inline-block;
  margin-top: 0.75rem;
  margin-left: 7rem;
  color: #878787;
  font-size: 1.125rem;
  font-weight: 700;
}

.intro {
  padding-top: 4.75rem;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f8f8f8;
}

.intro__area {
  width: 100%;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
}

.intro__cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 5.2rem;
}

.intro__info {
  width: 44.75%;
  position: relative;
  z-index: 1;
  margin-top: 13%;
}

.intro__title {
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.intro__title::before, .intro__title::after {
  position: absolute;
  color: #fff;
  z-index: -1;
}

.intro__title::before {
  content: "Food";
  top: -34px;
  left: -32px;
  font-size: 5rem;
  letter-spacing: 3px;
}

.intro__title::after {
  content: "Photogrphy";
  right: 38px;
  bottom: -28px;
  font-size: 3.25rem;
}

.intro__content {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
}

.intro__link {
  margin-top: 0.7rem;
}

.intro__socials {
  padding-top: 2.35rem;
  padding-bottom: 2.15rem;
}

.intro__fp-index {
  position: absolute;
  top: 35%;
  left: 1%;
}

.work__module {
  position: relative;
  padding-top: 12.85%;
  padding-bottom: 7.5%;
}

.work__module::before, .work__module::after {
  content: "";
  width: 2px;
  position: absolute;
  background-color: #000;
}

.work__module::before {
  height: 52%;
  top: 16%;
  left: 33%;
}

.work__module::after {
  height: 100%;
  top: 0;
  left: 66.5%;
}

.work__title::before {
  content: "Work";
}

.work__area, .work__panel {
  position: relative;
  z-index: 1;
}

.work__area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 16.25%;
}

.work__item {
  padding-right: 15px;
  padding-left: 15px;
}

.work__item > figure > figcaption {
  margin-top: 1rem;
}

.work__item > figure > figcaption p {
  margin-bottom: 0.5rem;
  color: #1d1c1c;
  font-size: 0.875rem;
  font-weight: 300;
}

.work__item > figure > figcaption h4 {
  font-weight: 700;
  line-height: 1.15;
}

.work__item:nth-child(1) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 39%;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

.work__item:nth-child(1) > figure {
  margin-top: 63%;
}

.work__item:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30.75%;
      -ms-flex: 0 0 30.75%;
          flex: 0 0 30.75%;
}

.work__item:nth-child(2) > figure {
  margin-top: 28%;
}

.work__item:nth-child(3) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30.25%;
      -ms-flex: 0 0 30.25%;
          flex: 0 0 30.25%;
}

.work__item:nth-child(3) > figure {
  margin-top: 93.5%;
}

.work__fp-index {
  position: absolute;
  top: 39.4%;
  left: 3.9%;
}

.work__socials {
  position: absolute;
  right: 3.5%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.work__socials:nth-of-type(1) {
  top: 38.5%;
}

.work__socials:nth-of-type(2) {
  top: 80%;
}

.work__panel {
  width: 64%;
  margin-left: 23%;
  padding: 8.85% 19.2% 16.2%;
  border: 8px solid #8eb574;
}

.work__panel::before, .work__panel::after {
  content: "";
  position: absolute;
}

.work__panel::before {
  width: 139%;
  height: 82.25%;
  top: -9.5%;
  right: 22%;
  z-index: -1;
  background-color: #aaa;
}

.work__panel::after {
  width: 87.25%;
  height: 82.5%;
  top: 9%;
  right: 73.75%;
  background-image: url("../img/work-bg.jpg");
  background-repeat: no-repeat;
}

.work__panel h3 {
  margin-bottom: 1.5rem;
}

.work__panel p {
  font-size: 1.125rem;
  line-height: 1.15;
}

.work__link {
  margin-top: 1.25rem;
}

.work__link img {
  position: absolute;
  top: 5px;
  right: -44px;
}

.about__module {
  padding-top: 4.35%;
}

.about__title::before {
  content: "About";
}

.about__panel {
  width: 58.25%;
  position: relative;
  margin-top: 15.8%;
  margin-left: auto;
  padding: 3.4rem 3rem 5rem 15.6rem;
  background-color: #f8f8f8;
}

.about__panel::before, .about__panel::after {
  content: "";
  position: absolute;
}

.about__panel::before {
  width: 57.25%;
  height: 69.5%;
  top: -26.25%;
  right: 139.25%;
  z-index: -1;
  background-color: #aaa;
}

.about__panel::after {
  width: 103%;
  height: 100%;
  top: -16%;
  right: 68.85%;
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
}

.about__content {
  font-size: 1.125rem;
  line-height: 1.25;
}

.about__content p {
  margin-bottom: 1.825rem;
}

.about__link {
  margin-top: 0.5rem;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html {
  font-size: 1rem;
}

body {
  position: relative;
  margin: 0;
  color: #212021;
  background-color: #fff;
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

strong {
  font-size: 1.125rem;
  font-weight: 700;
}
