@charset "UTF-8";
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Light.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Light.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-Bold.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-LightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-It.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-It.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-It.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-SemiboldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.woff2") format("woff2"), url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.woff") format("woff"), url("../fonts/SourceSerifPro/SourceSerifPro-BoldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/Lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/MyriadPro/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldIt.ttf") format("truetype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: block;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.screen-index {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  border-bottom: 2px solid #212021;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
}

.logo {
  display: block;
}

.link {
  display: inline-block;
  position: relative;
  color: #212021;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 1.5px;
  /**
   * Делаем таким образом нижнюю границу для эффекта 
   * плавного выдвижения
   */
}

.link:hover::before {
  width: 0;
}

.link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #212021;
  -webkit-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.link::after {
  content: "--------";
  margin-right: 0.8rem;
  margin-left: 0.2rem;
  letter-spacing: -2px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 0.9rem;
  margin-bottom: 0;
  margin-left: 2.2rem;
}

.header__navbar::before {
  content: "";
  display: block;
  width: 92%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -25%, 0);
          transform: translate3d(-50%, -25%, 0);
  border-bottom: 4px solid #fff;
}

.header__navbar > li {
  position: relative;
  padding-right: 2.625rem;
  padding-left: 2.625rem;
  color: #4e4d4e;
  font-size: 1.125rem;
  z-index: 1;
}

.header__navbar > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.header__navbar > li > a:hover {
  color: #cb98a8;
}

.header__phone {
  display: inline-block;
  margin-top: 0.65rem;
  margin-left: 7.2rem;
  color: #878787;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.intro {
  position: relative;
  background-color: #f8f8f8;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.intro__area {
  width: 100%;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
}

.intro__cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 5.2rem;
}

.intro__info {
  width: 44.75%;
  margin-top: 13%;
}

.intro__title {
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.intro__title::before, .intro__title::after {
  position: absolute;
  color: #fff;
  z-index: -1;
}

.intro__title::before {
  content: "Food";
  top: -34px;
  left: -32px;
  font-size: 5rem;
  letter-spacing: 3px;
}

.intro__title::after {
  content: "Photogrphy";
  right: -25px;
  bottom: -28px;
  font-size: 3.5rem;
  letter-spacing: 4px;
}

.intro__content {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.4px;
}

.intro__link {
  margin-top: 0.7rem;
}

.intro__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.intro__socials > li {
  font-weight: 300;
  letter-spacing: 1.4px;
}

.intro__socials > li + li::before {
  content: "\2014";
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.intro__socials > li > a {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.intro__socials > li > a:hover {
  color: #cb98a8;
}

.intro__screen-index {
  position: absolute;
  top: 35%;
  left: 1%;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html,
body {
  height: 100%;
  font-size: 1rem;
}

body {
  margin: 0;
  color: #212021;
  background-color: #fff;
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}
