.about {
  &__area {
    padding-top: 8.25rem;

    &::before {
      content: none;
    }

    &::after {
      @include set-strips(180deg, ($strip-color 9%, transparent 42%, $strip-color 100%));
    }
  }

  &__title {
    margin-bottom: 10.5rem;

    &::before {
      content: "About";
    }
  }

  &__panel {
    width: 58.25%;
    position: relative;
    margin-left: auto;
    padding: 3.4rem 3rem 5.5rem 15.65rem;
    background-color: $bg-color;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      width: 57.25%;
      height: 69.5%;
      top: -26.25%;
      right: 139.75%;
      z-index: -1;
      background-color: #aaa;
    }

    &::after {
      width: 103%;
      height: 100%;
      top: -15.5%;
      right: 68.9%;
      @include set-bg-image("../img/about-bg.jpg");
    }
  }

  &__link {
    margin-top: 1rem;
  }

  &__index {
    top: 59.5%;
  }

  &__socials {
    top: 61.5%;
  }
}