.intro {
  @include set-bg-image("../img/intro-bg.jpg", false, right);
  background-color: $color-light-gray;

  &__area {
    width: 100%;
    max-width: 1258px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  &__cover {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10rem;
  }

  &__info {
    flex: 0 0 44.75%;
    width: 44.75%;
    margin-top: 8.75rem;
    padding-right: $gutter-width;
  }

  &__title {
    position: relative;
    margin-bottom: 1.75rem;

    &::before,
    &::after {
      position: absolute;
      color: $text-color-inverted;
      z-index: -1;
    }

    &::before {
      content: "Food";
      top: -34px;
      left: -32px;
      font-size: 5rem;
      letter-spacing: 3px;
    }

    &::after {
      content: "Photogrphy";
      right: 38px;
      bottom: -28px;
      font-size: 3.25rem;
    }
  }

  &__content {
    font-weight: $font-weight-light;
  }

  &__socials {
    padding-top: 2.25rem;
    padding-bottom: 2.15rem;
  }

  &__index {
    top: 35%;
    left: 1%;
  }
}
