.intro {
  padding-top: 4.75rem; // Временно до height: 100vh

  @include set-bg-image("../img/intro-bg.jpg", false, right);
  background-color: $color-light-gray;

  &__area {
    width: 100%;
    max-width: 1130px;
    margin-right: auto;
    margin-left: auto;
  }

  &__cover {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.2rem;
  }

  &__info {
    width: 44.75%;
    position: relative;
    z-index: 1;
    margin-top: 13%;
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    &::before,
    &::after {
      position: absolute;
      color: $text-color-inverted;
      z-index: -1;
    }

    &::before {
      content: "Food";
      top: -34px;
      left: -32px;
      font-size: 5rem;
      letter-spacing: 3px;
    }

    &::after {
      content: "Photogrphy";
      right: 38px;
      bottom: -28px;
      font-size: 3.25rem;
    }
  }

  &__content {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    line-height: 1.2;
  }

  &__link {
    margin-top: 0.7rem;
  }

  &__socials {
    padding-top: 2.35rem;
    padding-bottom: 2.15rem;
  }

  &__fp-index {
    position: absolute;
    top: 35%;
    left: 1%;
  }
}
