.intro {
  padding-top: 10rem;
  background-color: $color-light-gray;
  @include set-bg-image("../img/intro-bg.jpg", false, right);

  &__container {
    max-width: 1160px;
  }

  &__item {
    &:nth-child(1) {
      flex: 0 0 43.5%;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-top: 8.65rem;

    &::before,
    &::after {
      position: absolute;
      color: $text-color-inverted;
      z-index: -1;
    }

    &::before {
      content: "Food";
      top: -34px;
      left: -32px;
      font-size: 5rem;
      letter-spacing: 3px;
    }

    &::after {
      content: "Photogrphy";
      right: 10px;
      bottom: -28px;
      font-size: 3.25rem;
    }
  }

  &__content {
    font-weight: $font-weight-light;
  }

  &__socials {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__index {
    top: 35%;
    left: 1%;
  }
}

// .intro {
//   @include set-bg-image("../img/intro-bg.jpg", false, right);
//   background-color: $color-light-gray;

//   &__area {
//     padding-top: 10rem;
//   }

//   &__container {
//     max-width: 1160px;
//   }

//   &__cover {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   &__info {
//     flex: 0 0 44.75%;
//     width: 44.75%;
//     margin-top: 8.75rem;
//     padding-right: $gutter-width;
//   }

//   &__title {
//     position: relative;
//     margin-bottom: 1.75rem;

//     &::before,
//     &::after {
//       position: absolute;
//       color: $text-color-inverted;
//       z-index: -1;
//     }

//     &::before {
//       content: "Food";
//       top: -34px;
//       left: -32px;
//       font-size: 5rem;
//       letter-spacing: 3px;
//     }

//     &::after {
//       content: "Photogrphy";
//       right: 38px;
//       bottom: -28px;
//       font-size: 3.25rem;
//     }
//   }

//   &__content {
//     font-weight: $font-weight-light;
//   }

//   &__socials {
//     padding-top: 2.25rem;
//     padding-bottom: 2.15rem;
//   }

//   &__index {
//     top: 35%;
//     left: 1%;
//   }
// }
