.work {
  padding-top: 8.9rem;

  &__title {
    margin-bottom: 0.4rem;

    &::before {
      content: "Work";
    }
  }

  &__item {
    &:nth-child(1) {
      flex: 0 0 39%;
      width: 39%;

      > figure {
        padding-top: 16.5rem;
      }
    }

    &:nth-child(2) {
      flex: 0 0 30.75%;
      width: 30.75%;

      > figure {
        margin-top: 5.7rem;
      }
    }

    &:nth-child(3) {
      flex: 0 0 30.25%;
      width: 30.25%;

      > figure {
        padding-top: 18.5rem;
      }
    }

    figure > figcaption {
      > p {
        margin-top: 0.75rem;
        margin-bottom: 0.25rem;
        color: $color-darkest;
        font-size: $font-size-small;
        font-weight: $font-weight-light;
      }

      > h4 {
        font-weight: $font-weight-bold;
      }
    }
  }

  &__more {
    position: relative;
    margin-top: 7.8rem;
    padding-top: 2.2rem;

    &::before,
    &::after {
      content: "";
      height: 74%;
      position: absolute;
      left: 0;
    }

    &::before {
      width: 67.5%;
      z-index: -1;
      top: 0;
      background-color: $bg-color;
    }

    &::after {
      width: 42.35%;
      top: 17%;
      @include set-bg-image("../img/work-bg.jpg", cover);
    }
  }

  &__panel {
    width: 64%;
    margin-left: 23%;
    padding: 6rem 13.25rem 11.5rem;
    border: $border-setup;

    h3 {
      margin-bottom: 1rem;
    }
  }

  &__link {
    position: relative;
    margin-top: 0.65rem;

    img {
      position: absolute;
      top: 0px;
      right: -44px;
    }
  }

  &__socials {
    &:nth-of-type(1) {
      top: 40.25%;
    }

    &:nth-of-type(2) {
      top: 83.25%;
    }
  }

  &__index {
    top: 40.85%;
  }
}
