.work {
  &__module {
    position: relative;
    padding-top: 12.85%;
    padding-bottom: 7.5%;

    &::before,
    &::after {
      content: "";
      width: 2px;
      position: absolute;
      background-color: #000;
    }

    &::before {
      height: 52%;
      top: 16%;
      left: 33%;
    }

    &::after {
      height: 100%;
      top: 0;
      left: 66.5%;
    }
  }

  &__title::before {
    content: "Work";
  }

  &__area,
  &__panel {
    position: relative;
    z-index: 1;
  }

  &__area {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter-width;
    margin-left: -$gutter-width;
    margin-bottom: 16.25%;
  }

  &__item {
    padding-right: $gutter-width;
    padding-left: $gutter-width;

    > figure {
      > figcaption {
        margin-top: 1rem;

        p {
          margin-bottom: 0.5rem;
          color: $color-darkest;
          font-size: $font-size-small;
          font-weight: $font-weight-light;
        }

        h4 {
          font-weight: $font-weight-bold;
          line-height: 1.15;
        }
      }
    }

    &:nth-child(1) {
      flex: 0 0 39%;

      > figure {
        margin-top: 63%;
      }
    }

    &:nth-child(2) {
      flex: 0 0 30.75%;

      > figure {
        margin-top: 28%;
      }
    }

    &:nth-child(3) {
      flex: 0 0 30.25%;

      > figure {
        margin-top: 93.5%;
      }
    }
  }

  &__fp-index {
    position: absolute;
    top: 39.4%;
    left: 3.9%;
  }

  &__socials {
    position: absolute;
    right: 3.5%;
    writing-mode: vertical-lr;

    &:nth-of-type(1) {
      top: 38.5%;
    }

    &:nth-of-type(2) {
      top: 80%;
    }
  }

  &__panel {
    width: 64%;
    margin-left: 23%;
    padding: 8.85% 19.2% 16.2%;
    border: $border-setup;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      width: 139%;
      height: 82.25%;
      top: -9.5%;
      right: 22%;
      z-index: -1;
      background-color: #aaa;
    }

    &::after {
      width: 87.25%;
      height: 82.5%;
      top: 9%;
      right: 73.75%;
      @include set-bg-image("../img/work-bg.jpg");
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      font-size: $font-size-large;
      line-height: 1.15;
    }
  }

  &__link {
    margin-top: 1.25rem;

    img {
      position: absolute;
      top: 5px;
      right: -44px;
    }
  }
}
