.leafs {
  @extend %bg-overlay;
  overflow-x: hidden;

  &__inner {
    height: 100%;
    position: relative;
    @include set-strips(90deg, ($strip-color 0.2%, transparent 99.8%, $strip-color 100%));
  }

  &__item {
    position: absolute;
    z-index: 1;
  }
}
