.link {
  display: inline-block;
  position: relative;
  color: $text-color;
  font-family: $font-family-myriadPro;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;

  &:hover::before {
    width: 0;
  }

  /**
   * HACK: Делаем таким образом нижнюю границу для эффекта 
   * плавного выдвижения
   */
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: $color-darken;
    @include set-transition("width");
  }

  &::after {
    content: "--------";
    margin-right: 0.8rem;
    margin-left: 0.2rem;
    letter-spacing: -2px;
  }
}
