.screen {
  position: relative;

  // HACK: Для корректного проигрывания анимаций, чтобы не вылазили и т.д. 
  // (дополнительно и в каждой секции)
  // BUG: На некоторых экрана съекзжают элементы при overwlow-x
  overflow: hidden;

  &__separator {
    width: 2px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    background-color: $separator-color;
  }
}