.screen {
  position: relative;

  // HACK: Для корректного проигрывания анимаций, чтобы не вылазили и т.д.
  // (дополнительно и в каждой секции)
  // BUG: На некоторых экрана съекзжают элементы при overwlow-x
  overflow: hidden;

  &__separator {
    width: 2px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    background-color: $separator-color;
  }

  &__strips {
    position: relative;

    &::before,
    &::after {
      content: "";
      width: $strip-width;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
    }

    &::before {
      left: 33.25%;
    }

    &::after {
      left: 66.5%;
    }
  }

  &__index {
    position: absolute;
    left: 3.85%;
  }

  &__socials {
    position: absolute;
    right: 3.5%;
    writing-mode: vertical-lr;
  }
}
